<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <h1>Example heading
          <span class="badge badge-secondary">New</span>
        </h1>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-12 black text-center"> FLUID </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 grey text-center"> CONTAINER </div>
    </div>
  </div>

  <!-- Default form login -->
  <div class="container-fluid row-fluid col-2 justify-content-center">
    <form class="d-flex flex-column text-center border border-light">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <input type="checkbox" placeholder="Remember me">
    </div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>


  <!-- Sign in button -->
  <button mat-raised-button color="primary" class="my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member?
    <a href="">Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mat-icon>facebook</mat-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mat-icon>google</mat-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mat-icon>account_balance</mat-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mat-icon>twitter</mat-icon>
  </a>

</form>
</div>

<!-- Default form login -->


